.footer {
    background-color: black;
    color: #fff;
    padding: 30px 0;
    text-align: center;
    margin-top: -5px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col {
    flex: 1;
}