body {
    background-image: url("../images/DSC_0009a.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#passport-form {
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 10px;
}

#passport-upload {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

form {
    background-color: aliceblue;
    width: 500px;
    margin: 0 auto;
    text-align: left;
    padding: 30px 80px 40px 80px;
    border-radius: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 0.5em;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="submit"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
  }
  h1{
    text-align: center;
  }