body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    overflow: scroll;
    font-family: sans-serif;
    background: url(images/fawzy_1.jpg)
    background-size: cover;
}
::-webkit-scrollbar {
    width: 10px;
  }
/* nav bar section */
nav{
    display: flex;
    height: 5%;
    background-color: floralwhite;
    justify-content: space-between;
}
nav ul {
    display: flex;
    list-style: none;
    padding-top: 10px;

}
nav ul li {
    padding-top: 20px;
    margin-right: 20px;
    font-family: sans-serif;
}
}
nav ul a {
    text-transform: uppercase;
    text-decoration: none;
}
.logo img {
    width: 100%;
    margin-left: 20%;
}
nav ul li a:link {
    color: darkblue;
}
nav ul li a:hover {
    border-bottom: 5px solid darkblue;
    color:red;
    font-weight: bold;

}
/* banner section */
#banner {
background: linear-gradient(rgba(255, 0 , 0, 0.5), rgba(0,255,0, 0.5)), url(images/4.jpg);
background-size: cover;
height: 90vh;
text-align: center;
}
.bannercaption {
    padding-top: 150px;
    color: white
}
.bannercaption h1 {
    font-size: 60px;
    margin-bottom: 15px;
}
.bannercaption p{
    font-size: 20px;
}
.bannerbtn .btn1{
 padding: 15px;
 color: red;
 border: 3px solid darkblue;
}
.bannerbtn .btn2{
    padding: 15px;
    color: red;
    border: 3px solid purple;
   }
   .bannerbtn a {
    text-decoration: none;
   }

   /* courses section */
   #courses {
   }
   #courses .headingtop {
    font-size: 50px;
    color: red;
    text-align: center;
   }
   .firstcontainer {
    display: flex;
    padding-left: 150px;
    margin-bottom: 7%;
   }
   .firstcontainer .leftcontent {
    width: 50%;
    margib-left: 10%;
    }
    .firstcontainer .rightcontent {
        width: 50%;
        text-align: justify;
    }
    .secondcontainer {
        width: 100%;
        background-color: black;
        color: white;
        display: flex;
    }
    .secondcontainer .leftcontent {
        width: 50%;
        margib-left: 10%;
        padding: 7%;
    }
    .secondcontainer .rightcontent {
        width: 50%;
    }
    .secondcontainer .rightcontent img{
        width: 100%;
    }
    #training .headingtop {
        padding: 8% 2%;
        text-align: center;
        border-radius: 10px;
        color: red;
        box-shadow: 7px 10px 20px -7px black;
    }
